@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic);
@import 'colors.less';
@import 'foreignobject.less';
@import 'icons.less';
@import 'intro.less';

.not-animated(@zero: 0) {
  animation: 0;
}

.animated(@name, @seconds, @easing, @totaltime) {
  animation: @name @seconds @easing @totaltime;
}

@keyframes breathing {
  0% { fill: @lightest; }
  50% { fill: @light-turquoise; }
}

// CSSUserAgent Rules
html.ua-mobile.ua-chrome {
  .coffee-rank {
    stroke-width: 0px;
  }
}

// general rules
.hidden {
  display: none !important;
}
.flex {
  display: flex;
}
span i {
  &:hover, &:active, &:focus {
    color: @medium-gray;
  }
}

body {
  margin: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: @darkest;
}

span.nav {
  background-color: '#CCCCCC';
  color: @light-gray;
  .link;
  font-size: 32px;
  position: fixed;
  @media (min-width: 320px) and (min-height: 320px) {
    top: 15vh;
    &.back {
      left: 20vw;
    }
    &.forward {
      right: 20vw;
    }
  }
  @media (max-width: 360px) and (orientation: portrait) {
    display: none;
  }
  @media (max-height: 360px) and (orientation: landscape) {
    display: none;
  }
  @media (max-aspect-ratio: 95/100) {
    display: none;
  }
}

.background-light {
  fill: @light-gray;
  opacity: 0.10;
}

// link cursor mixin
.link {
  cursor: pointer;
}

.coffee-circle-group.special {
  .coffee-circle-ghost {
    .animated(breathing, 3s, linear, infinite);
  }
}

.coffee-circle {
  fill: @lightest;
  stroke: @light;
}

.coffee-circle-ghost {
  fill: @lightest;
  stroke-width: 1px;
  stroke: @light-gray;
  transition: fill 0.5s ease-out;
  &.no-touch:hover {
    .not-animated;
    fill: @turquoise;
  }
}

.coffee-circle-focus {
  fill: @turquoise;
  stroke: @light;
  stroke-width: 5px;
}

.coffee-circle-group {
  text {
    pointer-events: none;
  }
}

.coffee-brand {
  fill: @dark;
  font-family: 'Lobster', cursive;
  text-anchor: middle;
}

.coffee-rank {
  dominant-baseline: central;
  fill: @coffee-warm;
  font-family: 'Lobster', cursive;
  stroke: @light-gray;
  stroke-width: 3px;
  text-anchor: middle;
}