@import url(http://fonts.googleapis.com/css?family=Lobster);
@import 'colors.less';
@import 'icons.less';

.not-animated(@zero: 0) {
  -o-animation: 0;
  -moz-animation: 0;
  -ms-animation: 0;
  -webkit-animation: 0;
  animation: 0;
}

.animated(@name, @seconds, @easing, @totaltime) {
  -o-animation: @name @seconds @easing @totaltime;
  -moz-animation: @name @seconds @easing @totaltime;
  -ms-animation: @name @seconds @easing @totaltime;
  -webkit-animation: @name @seconds @easing @totaltime;
  animation: @name @seconds @easing @totaltime;
}

@-moz-keyframes breathing {
  0% { fill: @lightest; }
  50% { fill: @light-turquoise; }
}
@-webkit-keyframes breathing {
  0% { fill: @lightest; }
  50% { fill: @light-turquoise; }
}
keyframes breathing {
  0% { fill: @lightest; }
  50% { fill: @light-turquoise; }
}

body {
  margin: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: @darkest;
}

span.nav {
  background-color: '#CCCCCC';
  color: white;
  font-size: 32px;
  position: fixed;
  @media (min-width: 320px) and (min-height: 320px) {
    top: 15vh;
    &.back {
      left: 20vw;
    }
    &.forward {
      right: 20vw;
    }
  }
  @media (max-width: 320px) and (orientation: portrait) {
    display: none;
  }
  @media (max-height: 320px) and (orientation: landscape) {
    display: none;
  }
  @media (max-aspect-ratio: 95/100) {
    display: none;
  }
}

.background-light {
  fill: @light-gray;
  opacity: 0.10;
}

.coffee-circle {
  fill: @lightest;
  stroke: @light;
}

.coffee-circle-ghost {
  &.special {
    .animated(breathing, 3s, linear, infinite);
  }
  cursor: default;
  fill: @lightest;
  stroke-width: 1px;
  stroke: @light-gray;
  transition: fill 0.5s ease-out;
  &:hover {
    .not-animated;
    fill: @turquoise;
  }
}

.coffee-circle-group {
  text {
    pointer-events: none;
  }
}

.coffee-brand {
  fill: @dark;
  font-family: 'Lobster', cursive;
  text-anchor: middle;
}

.coffee-rank {
  dominant-baseline: central;
  fill: @coffee-warm;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  stroke: @light-gray;
  stroke-width: 1px;
  text-anchor: middle;
}